.topbar{
    width: 100%;
    height: 40px;
    margin: auto;
    background-color: #28a745;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.topbar>h2{
  margin-left: 20px;
  font-size: 18px;
}

.topbar>a{
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
  color: white;
  padding: 10px 16px;

}


.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    border-top: 20px;
    display: block;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .username {
    padding: 2px 16px;
  }


  .dashboard-container{
    margin-left: 300px;
    padding: 1px 16px;
    height: 890px;
    background-color: rgb(51, 42, 49);
    display: flex;
    flex-direction: column;
  

  }
  .dashboard-container>h3{
    color: white;
  }


  .main-container{
      height: 750px;
      display: flex;
      flex-direction: row;
  }


  .milk-production{
      height: 100%;
      width: 50%;
      background-color: lightgrey;
      display: flex;
      flex-direction: column;

  }

  #production-form{
      height: 50%;
      display: flex;
      margin-left: 200px;
      margin-right: 200px;
  }

  h4{
    text-align: center;
  }

  input[type=number] {
    width: 100%;
    padding: 10px 18px;
    margin-top: 5PX;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #28a745;
    color: white;
    padding: 14px 10px;
    margin: 20px 20px 0px 80px ;
    border: none;
    cursor: pointer;
    width: 50%;
  }

  

  #production-data{
      height: 50%;
      border: 2px solid black;
      overflow: scroll;
      background-color: white;
  }

  #production-data >h4{
    text-align: center;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


  .income{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;




  }

  #selling-rates-form{
    height: 35%;
    margin: 50px 200px 0px 200px;
    display: flex;
    justify-content: center;
  }

  #income-report{
    height: 50%;
    overflow: scroll;
    background-color: white;
    border: 2px solid black;

  }



  .view-reports{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #report-button{
    padding: 6px 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(51, 27, 27);
    border: 2px solid white;
  }
  